* {
  box-sizing: border-box;
}
/* =====common======= */
html {
  font-size: 62, 5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  /* background-color: aqua; */
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  color: #fff;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

/* header */

header {
  background-color: #fffcf4;
}

header.fixed {
  position: sticky;
  top: -28px;
}

header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 16px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
nav li.active a,
.nav a:hover {
  color: #191200;
  text-shadow: 1px 0 0 currentColor;
}
nav li.active a::after {
  position: absolute;
  left: 22px;
  bottom: 6px;
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

header .btn-sign-up {
  min-width: 118px;
}

header .action {
  margin-left: 49px;
}
